<?xml version="1.0" encoding="utf-8" ?>
<AjaxControlToolkit>
  <ControlBundles>
    <ControlBundle Name="Accordion">
      <Control Name="AccordionExtender"></Control>
    </ControlBundle>
    <ControlBundle>      
      <Control Name="AjaxFileUpload"></Control>
      <Control Name="AlwaysVisibleControlExtender"></Control>
      <Control Name="AreaChart"></Control>
      <Control Name="AsyncFileUpload"></Control>
      <Control Name="AutoCompleteExtender"></Control>
      <Control Name="BalloonPopupExtender"></Control>
      <Control Name="BarChart"></Control>
      <Control Name="BubbleChart"></Control>
      <Control Name="CalendarExtender"></Control>
      <Control Name="CascadingDropDown"></Control>
      <Control Name="CollapsiblePanelExtender"></Control>
      <Control Name="ColorPickerExtender"></Control>
      <Control Name="ComboBox"></Control>
      <Control Name="ConfirmButtonExtender"></Control>
      <Control Name="DragPanelExtender"></Control>
      <Control Name="DropDownExtender"></Control>
      <Control Name="DropShadowExtender"></Control>
      <Control Name="DynamicPopulateExtender"></Control>
      <Control Name="FilteredTextBoxExtender"></Control>
      <Control Name="Gravatar"></Control>
      <Control Name="HoverMenuExtender"></Control>
      <!--<Control Name="HTMLEditor"></Control>-->
      <Control Name="HtmlEditorExtender"></Control>
      <Control Name="LineChart"></Control>
      <Control Name="ListSearchExtender"></Control>
      <Control Name="MaskedEditExtender"></Control>
      <Control Name="ModalPopupExtender"></Control>
      <Control Name="MultiHandleSliderExtender"></Control>
      <Control Name="MutuallyExclusiveCheckBoxExtender"></Control>
      <Control Name="NoBotExtender"></Control>
      <Control Name="NumericUpDownExtender"></Control>
      <Control Name="PagingBulletedListExtender"></Control>
      <Control Name="PasswordStrength"></Control>
      <Control Name="PieChart"></Control>
      <Control Name="PopupControlExtender"></Control>
      <Control Name="RatingExtender"></Control>
      <Control Name="ReorderList"></Control>
      <Control Name="ResizableControlExtender"></Control>
      <Control Name="RoundedCornersExtender"></Control>
      <Control Name="Seadragon"></Control>
      <Control Name="SliderExtender"></Control>
      <Control Name="SlideShowExtender"></Control>
      <Control Name="TabContainer"></Control>
      <Control Name="TextBoxWatermarkExtender"></Control>
      <Control Name="ToggleButtonExtender"></Control>
      <Control Name="Twitter"></Control>
      <Control Name="UpdatePanelAnimationExtender"></Control>
      <Control Name="ValidatorCalloutExtender"></Control>
      <Control Name="WelcomeLabel" Assembly="CustomControlDemo"></Control>
    </ControlBundle>
  </ControlBundles>
</AjaxControlToolkit>