<?xml version="1.0" encoding="utf-8" ?>
<ajaxControlToolkit>
  <controlBundles>
    <controlBundle name="Accordion">
      <control name="AccordionExtender"></control>
      <control name="CollapsiblePanelExtender"></control>
    </controlBundle>
    <controlBundle name="CustomControls">
      <control name="AjaxControlToolkitWelcomeLabel.ActWelcomeLabel" assembly="CustomAjaxServerControlSample"></control>
      <control name="CollapsiblePanelExtender"></control>
    </controlBundle>
    <controlBundle>
      <control name="AjaxFileUpload"></control>
      <control name="AlwaysVisibleControlExtender"></control>
      <control name="AreaChart"></control>
      <control name="AsyncFileUpload"></control>
      <control name="AutoCompleteExtender"></control>
      <control name="BalloonPopupExtender"></control>
      <control name="BarChart"></control>
      <control name="BubbleChart"></control>
      <control name="CalendarExtender"></control>
      <control name="CascadingDropDown"></control>
      <control name="CollapsiblePanelExtender"></control>
      <control name="ColorPickerExtender"></control>
      <control name="ComboBox"></control>
      <control name="ConfirmButtonExtender"></control>
      <control name="DragPanelExtender"></control>
      <control name="DropDownExtender"></control>
      <control name="DropShadowExtender"></control>
      <control name="DynamicPopulateExtender"></control>
      <control name="FilteredTextBoxExtender"></control>
      <control name="Gravatar"></control>
      <control name="HoverMenuExtender"></control>
      <control name="HTMLEditor.Editor"></control>
      <control name="HtmlEditorExtender"></control>
      <control name="LineChart"></control>
      <control name="ListSearchExtender"></control>
      <control name="MaskedEditExtender"></control>
      <control name="ModalPopupExtender"></control>
      <control name="MultiHandleSliderExtender"></control>
      <control name="MutuallyExclusiveCheckBoxExtender"></control>
      <control name="NoBotExtender"></control>
      <control name="NumericUpDownExtender"></control>
      <control name="PagingBulletedListExtender"></control>
      <control name="PasswordStrength"></control>
      <control name="PieChart"></control>
      <control name="PopupControlExtender"></control>
      <control name="RatingExtender"></control>
      <control name="ReorderList"></control>
      <control name="ResizableControlExtender"></control>
      <control name="RoundedCornersExtender"></control>
      <control name="Seadragon"></control>
      <control name="SliderExtender"></control>
      <control name="SlideShowExtender"></control>
      <control name="TabContainer"></control>
      <control name="TextBoxWatermarkExtender"></control>
      <control name="ToggleButtonExtender"></control>
      <control name="Twitter"></control>
      <control name="UpdatePanelAnimationExtender"></control>
      <control name="ValidatorCalloutExtender"></control>
    </controlBundle>
  </controlBundles>
</ajaxControlToolkit>