<?xml version="1.0" encoding="utf-8" ?>
<Settings Theme="Base">
  <Control>AccordionExtender</Control>
  <Control>AjaxFileUpload</Control>
  <Control>AlwaysVisibleControlExtender</Control>
  <Control>AreaChart</Control>
  <Control>AsyncFileUpload</Control>
  <Control>AutoCompleteExtender</Control>
  <Control>BalloonPopupExtender</Control>
  <Control>BarChart</Control>
  <Control>BubbleChart</Control>
  <Control>CalendarExtender</Control>
  <Control>CascadingDropDown</Control>
  <Control>CollapsiblePanelExtender</Control>
  <Control>ColorPickerExtender</Control>
  <Control>ComboBox</Control>
  <Control>ConfirmButtonExtender</Control>
  <Control>DragPanelExtender</Control>
  <Control>DropDownExtender</Control>
  <Control>DropShadowExtender</Control>
  <Control>DynamicPopulateExtender</Control>
  <Control>FilteredTextBoxExtender</Control>
  <Control>Gravatar</Control>
  <Control>HoverMenuExtender</Control>
  <!--<Control>HTMLEditor</Control>-->
  <Control>HtmlEditorExtender</Control>
  <Control>LineChart</Control>
  <Control>ListSearchExtender</Control>
  <Control>MaskedEditExtender</Control>
  <Control>ModalPopupExtender</Control>
  <Control>MultiHandleSliderExtender</Control>
  <Control>MutuallyExclusiveCheckBoxExtender</Control>
  <Control>NoBotExtender</Control>
  <Control>NumericUpDownExtender</Control>
  <Control>PagingBulletedListExtender</Control>
  <Control>PasswordStrength</Control>
  <Control>PieChart</Control>
  <Control>PopupControlExtender</Control>
  <Control>RatingExtender</Control>
  <Control>ReorderList</Control>
  <Control>ResizableControlExtender</Control>
  <Control>RoundedCornersExtender</Control>
  <Control>Seadragon</Control>
  <Control>SliderExtender</Control>
  <Control>SlideShowExtender</Control>
  <Control>TabContainer</Control>
  <Control>TextBoxWatermarkExtender</Control>
  <Control>ToggleButtonExtender</Control>
  <Control>Twitter</Control>
  <Control>UpdatePanelAnimationExtender</Control>
  <Control>ValidatorCalloutExtender</Control>
</Settings>