@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <ul>
            <li>@Html.ActionLink("Reference", "Index", "Reference")</li>
            <li>@Html.ActionLink("Release notes", "Index", "ReleaseNotes")</li>
        </ul>
    </div>
</body>
</html>
