
Client/MicrosoftAjax.Extended/obj/Debug/GenerateResource.read.1.tlog
Server/AjaxControlToolkit/bin/
Client/MicrosoftAjax.Extended/obj/
Client/MicrosoftAjax.Extended/bin/
AjaxControlToolkit.suo
AjaxControlToolkit.VS2008.suo
Client/MicrosoftAjax.Extended/bin/
Client/MicrosoftAjax.Extended/bin/
Client/MicrosoftAjax.Extended/bin/
Client/MicrosoftAjax.Extended/bin/
Client/MicrosoftAjax.Extended/bin/
Tests/AjaxControlToolkit.Tests/bin/
Client/MicrosoftAjax.Extended/bin/
SampleWebSites/AjaxClientWebSite/Bin/Server.XML
SampleWebSites/AjaxControlToolkitSampleSite/Bin/Server.XML
Server/Tests/FunctionalTests/Bin/Server.XML
Tests/AjaxControlToolkit.Tests/AjaxControlToolkit.Tests.csproj.user
Tests/AjaxControlToolkit.Tests/AjaxControlToolkit.Tests.csproj.user
Tests/AjaxControlToolkit.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Tests/AjaxControlToolkit.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Tests/AjaxControlToolkit.Tests/obj/
Client/UnitTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Client/MicrosoftAjax/bin/
Client/MicrosoftAjax/obj/
Client/ScriptOutput/
Client/UnitTests/ajaxlib/embed/
Client/UnitTests/ajaxlib/embed/
Client/UnitTests/ajaxlib/embed/
Client/UnitTests/bin/
Client/UnitTests/obj/
SampleWebSites/AjaxClientWebSite/Bin/
SampleWebSites/AjaxControlToolkitSampleSite/Bin/
Server/AjaxControlToolkit/obj/
Server/AjaxControlToolkit/ScriptOutput/
Tests/AjaxControlToolkit.Tests/Bin/
Server/Tests/FunctionalTests/Bin/
Tools/JSBuild/bin/
Tools/JSBuild/obj/
Client/UnitTests/ajaxlib/extended/Accordion/AccordionBehavior.js
Client/UnitTests/ajaxlib/Start.js
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Server/AjaxControlToolkit/AjaxControlToolkit.csproj.user
Client/ScriptOutput/extended/HtmlEditorExtender/HtmlEditorExtenderBehavior.debug.js
Client/UnitTests/ajaxlib/
PackageForNET4/
PackageForNET35/
Server/AjaxControlToolkit/ScriptOutput/HtmlEditorExtender/HtmlEditorExtenderBehavior.debug.js
Server/AjaxControlToolkit/ScriptOutput/HtmlEditorExtender/HtmlEditorExtenderBehavior.js
PrecompiledWeb/*
Server/AjaxControlToolkit.Legacy/ScriptOutput/
UpgradeLog.htm
UpgradeLog.XML
_UpgradeReport_Files/*
