
Client/MicrosoftAjax.Extended/obj/Debug/GenerateResource.read.1.tlog
Server/AjaxControlToolkit/bin/
Client/MicrosoftAjax.Extended/obj/
Client/MicrosoftAjax.Extended/bin/
AjaxControlToolkit.suo
AjaxControlToolkit.VS2008.suo
Client/MicrosoftAjax.Extended/bin/
Client/MicrosoftAjax.Extended/bin/
Client/MicrosoftAjax.Extended/bin/
Client/MicrosoftAjax.Extended/bin/
Client/MicrosoftAjax.Extended/bin/
Tests/AjaxControlToolkit.Tests/bin/
Client/MicrosoftAjax.Extended/bin/
SampleWebSites/AjaxClientWebSite/Bin/Server.XML
SampleWebSites/AjaxControlToolkitSampleSite/Bin/Server.XML
Server/Tests/FunctionalTests/Bin/Server.XML
Tests/AjaxControlToolkit.Tests/AjaxControlToolkit.Tests.csproj.user
Tests/AjaxControlToolkit.Tests/AjaxControlToolkit.Tests.csproj.user
Tests/AjaxControlToolkit.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Tests/AjaxControlToolkit.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Tests/AjaxControlToolkit.Tests/obj/
Client/UnitTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache