/bin
obj
*.suo
*.user
packages/
StaticFiles/
AjaxControlToolkit.SampleSite/bin/*
!AjaxControlToolkit.SampleSite/bin/*.refresh
AjaxControlToolkit.SampleSite/Scripts/AjaxControlToolkit/
AjaxControlToolkit.SampleSite/Content/AjaxControlToolkit/
AjaxControlToolkit.SampleSite/Scripts/WebForms/MSAjax/
