version: '{build}'

init:
  - git config --global core.autocrlf true

install:
# Workaround for NuGet restore path failure (https://github.com/NuGet/Home/issues/3235)
  - if not exist "nuget.exe" (appveyor DownloadFile https://dist.nuget.org/win-x86-commandline/v3.3.0/nuget.exe)
  - ps: Install-Product node 6
  - npm install --depth=0 -g eslint
# Workaround for Selenium testing: https://github.com/SeleniumHQ/selenium/issues/4406
  - choco install firefox --version 46.0.1

environment:
  AjaxControlToolkitTestSiteUrl: http://localhost/TestRunner.aspx

cache:
  - packages -> **\packages.config
  - nuget.exe
  - '%APPDATA%\npm-cache' 

services: iis
  
before_build:
  - nuget restore

build:
  project: AjaxControlToolkit.sln
  verbosity: minimal  
  
before_test:
  - powershell -File AppVeyor\DeployJasmineSite.ps1
  
test_script: 
  - cd AjaxControlToolkit\Scripts && eslint .
  - nunit3-console "bin\Debug\AjaxControlToolkit.Tests.dll"

after_test:
  - msbuild AjaxControlToolkit.sln /p:Configuration=Release /v:m /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
  - powershell -File AppVeyor\CreateArtifacts.ps1

artifacts:
  - path: AjaxControlToolkit-build-*.zip
  - path: AjaxControlToolkit.StaticResources-build-*.zip
  - path: AjaxControlToolkit.HtmlEditor.Sanitizer-build-*.zip
  - path: AjaxControlToolkit.SampleSite-build-*.zip
