version: '{build}'

os: Visual Studio 2013

init:
  - git config --global core.autocrlf true

install:
# Workaround for NUnit Console Runner v3.2.1 timeout bug (#1509). Try to remove it when a fix is available.
- ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/nunit-3-2-0.ps1'))

environment:
  AjaxControlToolkitTestSiteUrl: http://localhost/TestRunner.aspx

cache:
  - packages -> **\packages.config

services: iis
  
before_build:
  - ps: nuget restore

build:
  project: AjaxControlToolkit.sln
  verbosity: minimal  
  
artifacts:
  - path: AjaxControlToolkit-build-*.zip
  - path: AjaxControlToolkit.StaticResources-build-*.zip
  - path: AjaxControlToolkit.HtmlEditor.Sanitizer-build-*.zip
  - path: AjaxControlToolkit.SampleSite-build-*.zip

before_test:
- ps: '& "AppVeyor\DeployJasmineSite.ps1"'
  
test:
  assemblies: bin\Debug\AjaxControlToolkit.Tests.dll

after_test:
- ps: 'msbuild "AjaxControlToolkit.sln" /p:Configuration=Release /verbosity:minimal /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"'
- ps: '& "AppVeyor\CreateArtifacts.ps1"'