version: '{build}'

os: Visual Studio 2013

init:
  - git config --global core.autocrlf true

cache:
  - packages -> **\packages.config

before_build:
  - ps: nuget restore

build:
  project: AjaxControlToolkit.sln
  verbosity: minimal

test:
  assemblies: bin\AjaxControlToolkit.Tests.dll
  
on_success:
- ps: >-
    if([string]::IsNullOrEmpty($env:APPVEYOR_PULL_REQUEST_NUMBER))

    {

    git config --global credential.helper store

    Add-Content "$env:USERPROFILE\.git-credentials" "https://$($env:GitHubAccessToken):x-oauth-basic@github.com`n"

    git config --global user.email "$env:GitUserEmail"

    git config --global user.name "$env:GitUserName"

    git clone -q $env:WikiRepoUrl $env:WikiRepoPath

    & "$env:APPVEYOR_BUILD_FOLDER\$env:WikiUpdaterPath" $env:WikiRepoPath

    cd $env:WikiRepoPath

    git config core.autocrlf false

    git commit -q -m "Reference update" -a

    git push origin master -q

    }