@model IEnumerable<string>

@{
    Layout = "~/Views/_Layout.cshtml";
}

@Html.ActionLink("CodePlex markup", "Markup")

<ul>
    @foreach(var typeName in Model) {
        <li><a href="/Reference/Type/@typeName">@typeName</a></li>
    }
</ul>
