.sys-template { visibility:hidden; display:none; }
body {	margin:10px; background-color:black; color:white; font-family:calibri, verdana, arial, sans-serif;  }

.title { font-size:140%; color:#57E701; height:30px; margin-left:-15px; background-image:url(GradientGray.png); background-repeat:repeat-y; padding-left:25px; margin-bottom:20px;}

a { padding:0px 7px 0px 5px; background-color:black; color:#ffd200; font-style:italic; }  

.sorttoolbar { color:#ffd200; font-style:italic; padding-left:5px; }  
.sorttoolbar select { color:black; background-color:#bbb; border-color:#ffd200; padding-left:10px; }  
.editbutton { color:yellow; font-weight:bolder;}  

#masterItemPlaceholder { color:yellow; font-weight:bolder; line-height:130px; }

.imageslist{ 
    white-space:nowrap; width:100%; height: 180px; overflow:auto; margin:10px 0px 20px 0px;
    /* IE scrollbar styles */
    scrollbar-3dlight-color:#666666; scrollbar-arrow-color:#57E701; scrollbar-base-color:black; scrollbar-darkshadow-color:#777777; scrollbar-face-color:#333333; 
    scrollbar-highlight-color:black; scrollbar-shadow-color:black; 
    /* End IE scrollbar styles  */
 }     

.listitem { cursor:pointer; border:solid 2px #666666; display:inline-block; margin:5px; color:#cccccc; height:140px; width:150px; 
            background-color:#333333; overflow:hidden; margin-bottom:10px; }
.listitem input[type=button] { cursor:pointer; color:#cccccc; background-color:#333333; border:none; width:150px; }
.listitem input[type=text] { color:black; background-color:#ddd; border:none; width:150px; }
.listitem img { margin-top:3px; height:100px; width:auto; display:block; margin-left:auto; margin-right:auto; }

.selecteditem { border-color:yellow; color:white; background-color:black; } 
.selecteditem input[type=button] { color:white; background-color:black; font-weight:bold; }
.listitem span { font-style:italic; font-size:10px; margin-left:5px; overflow:hidden; }

.filtertitle { color:#57E701; margin:15px 0px 10px 0px; }
.multiselect span { cursor:pointer; }
.multiselect input[type=text]  { margin:0px 2px 2px 0px; color:white; background-color:#444444; border-color:#777777; padding:1px 2px 1px 2px; width:120px; float:left; }
.multiselect input[type=text].firstname { width:50px; }
.multiselect input[type=text].lastname  { width:60px; }
.multiselect > span { width:128px; display:inline-block; overflow:hidden; }

.deletebutton { border:none; margin-top:5px; float:right; }
.deletebutton img { border:none }

.leftbutton { float:left; }
.detailtitle { float:left; font-weight:bold; font-size:20px; color:#bbbbbb; width:100%; }
.description { font-style:italic; margin-top:30px; }

.fieldblock { float:left; text-align:left; color:#ccc; padding:0px 20px 0px 18px; width:100%}
.detailbox label { color:#57E701; display:block; margin-top:16px;}
.fieldblock input[type=text] { color:white; background-color:#444444; border-color:#777777; border-bottom-style:solid; border-right-style:solid; padding:3px; width:335px; }
.fieldblock .selectContributor { color:black; background-color:#bbb; border-color:#777777; width:345px; margin-bottom:20px; }
.tagtitle { color: #57E701; margin-bottom: 10px; margin-top: 20px; }

.filterlists { float:left; color: #ccc; border: 1px solid #22aa00; margin:0px 5px 15px 10px; padding: 0px 8px 15px 15px; width:155px;}
.detailimage { float:left; margin: 0px 5px 15px 10px; }
.detailbox { float:left; color: #ccc; text-align:center; border: 1px solid #22aa00; width:380px; margin: 0px 5px 15px 10px; padding:10px 0px 10px 0px;}
.detailbox.edit { padding:0px 0px 20px 0px;}

.imagetags { width:350px; padding:0px 15px 0px 15px; }

.imagetag { overflow:hidden; display:inline-block; text-align:center; }
.imagetag > span { width:112px; display:inline-block; } /* Needed for FF: centered text and overflow:hidden can't be on same element. Otherwise could remove inner span */
.imagetagedit { width:175px; display:inline-block; float:left; text-align:left; }
.imagetagedit span { width:133px; overflow:hidden; display:inline-block; }

