ul, li 
{
	padding:0;
	margin:0;
}
/* TreeView */

.sys-template
{
    display: none;
}

#treeView img
{
    vertical-align: middle;
    border: 0px;
}

#treeView a
{
    text-decoration:none;
}

.collapsed
{
    display: none;
}

.folder li
{
    font-weight: bold;
    margin-left: 2%;
}

.root li {
    font-weight: bold;
}

.file li
{
    font-weight: normal;
    list-style-type:none;
    margin-left: 2%;
}