.ajax__htmleditor_htmlpanel_default
{
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	overflow: auto;
	background-color: #FFFFFF;
	font-family: verdana,sans-serif; font-size: 10pt;
	color: #000000;
}
