@charset "utf-8";
/* CSS Document */

.ajax__balloon_popup .oval {
    background-image: url("oval.png");
}

/* SMALL SIZE */
.ajax__balloon_popup .oval .small {
    width: 200px;
    height: 150px;
}

.ajax__balloon_popup .oval .small .bottom_right {
    background-position: 0 0;
}

.ajax__balloon_popup .oval .small .bottom_right .ajax__content {
    padding: 35px;
}

.ajax__balloon_popup .oval .small .bottom_right_shadow {
    background-position: -950px 0;
}

.ajax__balloon_popup .oval .small .bottom_left {
    background-position: 0 -150px;
}

.ajax__balloon_popup .oval .small .bottom_left .ajax__content {
    padding: 35px;
}

.ajax__balloon_popup .oval .small .bottom_left_shadow {
    background-position: -950px -150px;
}


.ajax__balloon_popup .oval .small .top_right {
    background-position: 0 -300px;
}

.ajax__balloon_popup .oval .small .top_right .ajax__content {
    padding: 35px;
}

.ajax__balloon_popup .oval .small .top_right_shadow {
    background-position: -950px -300px;
}

.ajax__balloon_popup .oval .small .top_left {
    background-position: 0 -450px;
}

.ajax__balloon_popup .oval .small .top_left .ajax__content {
    padding: 35px;
}

.ajax__balloon_popup .oval .small .top_left_shadow {
    background-position: -950px -450px;
}
/* END OF - SMALL SIZE */

/* MEDIUM SIZE */
.ajax__balloon_popup .oval .medium {
    width: 250px;
    height: 200px;
}

.ajax__balloon_popup .oval .medium .bottom_right {
    background-position: -200px 0;
}

.ajax__balloon_popup .oval .medium .bottom_right .ajax__content {
    padding: 43px;
}

.ajax__balloon_popup .oval .medium .bottom_right_shadow {
    background-position: -1150px 0;
}

.ajax__balloon_popup .oval .medium .bottom_left {
    background-position: -200px -200px;
}

.ajax__balloon_popup .oval .medium .bottom_left .ajax__content {
    padding: 43px;
}

.ajax__balloon_popup .oval .medium .bottom_left_shadow {
    background-position: -1150px -200px;
}

.ajax__balloon_popup .oval .medium .top_right {
    background-position: -200px -400px;
}

.ajax__balloon_popup .oval .medium .top_right .ajax__content {
    padding: 43px;
}

.ajax__balloon_popup .oval .medium .top_right_shadow {
    background-position: -1150px -400px;
}

.ajax__balloon_popup .oval .medium .top_left {
    background-position: -200px -600px;
}

.ajax__balloon_popup .oval .medium .top_left .ajax__content {
    padding: 43px;
}

.ajax__balloon_popup .oval .medium .top_left_shadow {
    background-position: -1150px -600px;
}
/* END OF - MEDIUM SIZE */

/* LARGE SIZE */
.ajax__balloon_popup .oval .large {
    width: 500px;
    height: 300px;
}

.ajax__balloon_popup .oval .large .bottom_right {
    background-position: -450px 0;
}

.ajax__balloon_popup .oval .large .bottom_right .ajax__content {
    padding: 70px;
}

.ajax__balloon_popup .oval .large .bottom_right_shadow {
    background-position: -1400px 0;
}

.ajax__balloon_popup .oval .large .bottom_left {
    background-position: -450px -300px;
}

.ajax__balloon_popup .oval .large .bottom_left .ajax__content {
    padding: 80px;
}

.ajax__balloon_popup .oval .large .bottom_left_shadow {
    background-position: -1400px -300px;
}

.ajax__balloon_popup .oval .large .top_right {
    background-position: -450px -600px;
}

.ajax__balloon_popup .oval .large .top_right .ajax__content {
    padding: 70px;
}

.ajax__balloon_popup .oval .large .top_right_shadow {
    background-position: -1400px -600px;
}

.ajax__balloon_popup .oval .large .top_left {
    background-position: -450px -900px;
}

.ajax__balloon_popup .oval .large .top_left .ajax__content {
    padding: 70px;
}

.ajax__balloon_popup .oval .large .top_left_shadow {
    background-position: -1400px -900px;
}
/* END OF - LARGE SIZE */
