<?xml version="1.0" encoding="utf-8" ?>
<ajaxControlToolkit>
  <controlBundles>
    <controlBundle name="TestExtender">
      <control name="Suites.ToolkitResourceManager.TestExtender" assembly="AjaxControlToolkit.Jasmine" />
    </controlBundle>
    <controlBundle>
      <control name="AccordionExtender"></control>
      <control name="Suites.ToolkitResourceManager.TestExtender" assembly="AjaxControlToolkit.Jasmine" />
    </controlBundle>
  </controlBundles>
</ajaxControlToolkit>