#LinearGradient1 {
    stop-color: #ffffff;
    stop-opacity: 0;
}

#LinearGradient2 {
    stop-color: #ffffff;
    stop-opacity: 0.3;
}

#LinearGradient3 {
    stop-color: #ffffff;
    stop-opacity: 0;
}

#ChartTitle {
    fill: #711737;
    fill-opacity: 1;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
}

#VerticalLine {
    fill-opacity: 1;
    stroke: #dfdfdf;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 1;
    stroke-width: 1;
}

#HorizontalLine {
    fill: none;
    fill-opacity: 1;
    stroke: #dfdfdf;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 1;
    stroke-width: 1;
}

#BaseLine {
    fill: none;
    fill-opacity: 1;
    stroke: #8e8e8e;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 1;
    stroke-width: 1;
}

#LegendArea {
    fill: none;
    fill-opacity: 1;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 1;
    stroke-width: 0;
}

#Legend1 {
    fill: #6C1E83;
    fill-opacity: 0.4;
    stroke: #6C1E83;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 0.4;
}

#Legend2 {
    fill: #D08AD9;
    fill-opacity: 0.4;
    stroke: #D08AD9;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 0.4;
}

#Legend3 {
    fill: #6586A7;
    fill-opacity: 0.4;
    stroke: #6586A7;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 0.4;
}

#Legend4 {
    fill: #0E426C;
    fill-opacity: 0.4;
    stroke: #0E426C;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 0.4;
}

#Legend5 {
    fill: #A156AB;
    fill-opacity: 0.4;
    stroke: #A156AB;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 0.4;
}

#Legend6 {
    fill: #990033;
    fill-opacity: 0.4;
    stroke: #990033;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 0.4;
}

#Legend7 {
    fill: #669900;
    fill-opacity: 0.4;
    stroke: #669900;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 0.4;
}

#Legend8 {
    fill: #B85B3E;
    fill-opacity: 0.4;
    stroke: #B85B3E;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 0.4;
}

#Legend9 {
    fill: #FFC652;
    fill-opacity: 0.4;
    stroke: #FFC652;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 0.4;
}

#Legend10 {
    fill: #4508A2;
    fill-opacity: 0.4;
    stroke: #4508A2;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 0.4;
}

#AreaPath1 {
    fill: #6C1E83;
    fill-opacity: 0.4;
    stroke: #6C1E83;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 0.4;
    stroke-width: 2;
}

#AreaPath2 {
    fill: #D08AD9;
    fill-opacity: 0.4;
    stroke: #D08AD9;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 0.4;
    stroke-width: 2;
}

#AreaPath3 {
    fill: #6586A7;
    fill-opacity: 0.4;
    stroke: #6586A7;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 0.4;
    stroke-width: 2;
}

#AreaPath4 {
    fill: #0E426C;
    fill-opacity: 0.4;
    stroke: #0E426C;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 0.4;
    stroke-width: 2;
}

#AreaPath5 {
    fill: #A156AB;
    fill-opacity: 0.4;
    stroke: #A156AB;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 0.4;
    stroke-width: 2;
}

#AreaPath6 {
    fill: #990033;
    fill-opacity: 0.4;
    stroke: #990033;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 0.4;
    stroke-width: 2;
}

#AreaPath7 {
    fill: #669900;
    fill-opacity: 0.4;
    stroke: #669900;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 0.4;
    stroke-width: 2;
}

#AreaPath8 {
    fill: #B85B3E;
    fill-opacity: 0.4;
    stroke: #B85B3E;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 0.4;
    stroke-width: 2;
}

#AreaPath9 {
    fill: #FFC652;
    fill-opacity: 0.4;
    stroke: #FFC652;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 0.4;
    stroke-width: 2;
}

#AreaPath10 {
    fill: #4508A2;
    fill-opacity: 0.4;
    stroke: #4508A2;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 0.4;
    stroke-width: 2;
}

#SeriesAxis {
    fill: #232323;
    fill-opacity: 1;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
}

#ValueAxis {
    fill: #232323;
    fill-opacity: 1;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
}

#LegendText {
    fill: #232323;
    fill-opacity: 1;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
}

#ChartBackGround {
    fill: #ffffff;
    fill-opacity: 1;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-opacity: 1;
    stroke-width: 0;
}
