.ajax__slider_h_rail {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.SliderRail-H.gif")%>');
}

.ajax__slider_v_rail {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.SliderRail-V.gif")%>');
}

.ajax__calendar_prev {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.CalendarArrow-Left.gif")%>');
}

.ajax__calendar_next {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.CalendarArrow-Right.gif")%>');
}

.ajax__dropdown_arrow_image {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.DropDownDrop-Arrow.gif")%>');
}

.ajax__balloon_popup .rect {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.BalloonPopupRectangle-Sprite.png")%>') !important;
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.BalloonPopupRectangle-Sprite.gif")%>');
}

.ajax__balloon_popup .cloud {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.BalloonPopupCloud-Sprite.png")%>') !important;
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.BalloonPopupCloud-Sprite.gif")%>');
}

.ajax__tab_xp .ajax__tab_header {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsLine.gif")%>');
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_outer {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsRight.gif")%>');
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_inner {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsLeft.gif")%>');
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_tab {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.Tabs.gif")%>');
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_hover .ajax__tab_outer {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsHover-Right.gif")%>');
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_hover .ajax__tab_inner {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsHover-Left.gif")%>');
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_hover .ajax__tab_tab {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsHover.gif")%>');
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_outer {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsActive-Right.gif")%>');
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_inner {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsActive-Left.gif")%>');
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_tab {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsActive.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_verticalleft {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsLine.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_outer {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsRight-Verticalleft.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_inner {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsLeft-Verticalleft.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_tab {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsVerticalleft.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_hover .ajax__tab_outer {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsHover-Right-verticalleft.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_hover .ajax__tab_inner {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsHover-Left-verticalleft.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_hover .ajax__tab_tab {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsHover-Verticalleft.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_active .ajax__tab_outer {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsActive-Right-verticalleft.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_active .ajax__tab_inner {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsActive-Left-verticalleft.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_active .ajax__tab_tab {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsActive-Verticalleft.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_verticalright {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsLine.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_outer {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsRight-Verticalright.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_inner {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsLeft-Verticalright.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_tab {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsVerticalright.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_hover .ajax__tab_outer {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsHover-Right-verticalright.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_hover .ajax__tab_inner {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsHover-Left-verticalright.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_hover .ajax__tab_tab {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsHover-Verticalright.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_active .ajax__tab_outer {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsActive-Right-verticalright.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_active .ajax__tab_inner {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsActive-Left-verticalright.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_active .ajax__tab_tab {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsActive-Verticalright.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_bottom {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsLine.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_outer {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsBottom-Right.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_inner {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsBottom-Left.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_tab {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsBottom.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_hover .ajax__tab_outer {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsBottom-Hover-right.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_hover .ajax__tab_inner {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsBottom-Hover-left.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_hover .ajax__tab_tab {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsBottom-Hover.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_active .ajax__tab_outer {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.TabsBottom-Active-right.gif")%>');
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_active .ajax__tab_inner {
    background-image: url('<%=WebResource(""AjaxControlToolkit.Images.TabsBottom-Active-Left.gif"")%>');
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_active .ajax__tab_tab {
    background-image: url('<%=WebResource(""AjaxControlToolkit.Images.TabsBottom-Active.gif"")%>');
}

.ajax__multi_slider_default .outer_rail_vertical {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.MultiHandleSlider-VRailOuter.gif")%>');
}

.ajax__multi_slider_default .inner_rail_vertical {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.MultiHandleSlider-VRail.gif")%>');
}

.ajax__multi_slider_default .inner_rail_horizontal {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.MultiHandleSlider-HRail.gif")%>');
}

.ajax__multi_slider_default .outer_rail_horizontal {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.MultiHandleSlider-HRailOuter.gif")%>');
}

.ajax__multi_slider_default .handle_horizontal {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.MultiHandleSlider-HHandle.gif")%>');
}

.ajax__multi_slider_default .handle_horizontal_hover {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.MultiHandleSlider-HHandleHover.gif")%>');
}

.ajax__multi_slider_default .handle_horizontal_down {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.MultiHandleSlider-HHandleDown.gif")%>');
}

.ajax__multi_slider_default .handle_vertical {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.MultiHandleSlider-VHandle.gif")%>');
}

.ajax__multi_slider_default .handle_vertical_hover {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.MultiHandleSlider-VHandleHover.gif")%>');
}

.ajax__multi_slider_default .handle_vertical_down {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.MultiHandleSlider-VHandleDown.gif")%>');
}

.ajax__combobox_buttoncontainer button {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.ComboBoxArrow-Down.gif")%>');
}

.ajax__htmleditor_attachedpopup_default td.ajax__htmleditor_popup_bgibutton {
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.HtmlEditor-BgiButton.gif")%>');
}

.ajax__html_editor_extender_button { 
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.HtmlEditorExtenderButtons.png")%>');   
}

.ajax__html_editor_extender_separator
{
    background-image: url('<%=WebResource("AjaxControlToolkit.Images.HtmlEditorExtenderButtons.png")%>');
}