@charset "utf-8";
/* CSS Document */

/* SMALL SIZE */
.ajax__balloon_popup .rect .small {
    height: 150px;
    width: 200px;
}

.ajax__balloon_popup .rect .small .bottom_right {
    background-position: 0 0;
}

.ajax__balloon_popup .rect .small .bottom_right .ajax__content {
    padding: 25px 25px 25px 15px;
}

*html .ajax__balloon_popup .rect .small .bottom_right_shadow {
    background: none;
}

.ajax__balloon_popup .rect .small .bottom_right_shadow {
    background-position: -950px 0;
}

.ajax__balloon_popup .rect .small .bottom_left {
    background-position: 0 -150px;
}

.ajax__balloon_popup .rect .small .bottom_left .ajax__content {
    padding: 25px 15px 25px 25px;
}

*html .ajax__balloon_popup .rect .small .bottom_left_shadow {
    background: none;
}

.ajax__balloon_popup .rect .small .bottom_left_shadow {
    background-position: -950px -150px;
}

.ajax__balloon_popup .rect .small .top_right {
    background-position: 0 -300px;
}

.ajax__balloon_popup .rect .small .top_right .ajax__content {
    padding: 25px 25px 25px 15px;
}

*html .ajax__balloon_popup .rect .small .top_right_shadow {
    background: none;
}

.ajax__balloon_popup .rect .small .top_right_shadow {
    background-position: -950px -300px;
}

.ajax__balloon_popup .rect .small .top_left {
    background-position: 0 -450px;
}

.ajax__balloon_popup .rect .small .top_left .ajax__content {
    padding: 25px 15px 25px 25px;
}

*html .ajax__balloon_popup .rect .small .top_left_shadow {
    background: none;
}

.ajax__balloon_popup .rect .small .top_left_shadow {
    background-position: -950px -450px;
}
/* END OF - SMALL SIZE */

/* MEDIUM SIZE */
.ajax__balloon_popup .rect .medium {
    height: 200px;
    width: 250px;
}

.ajax__balloon_popup .rect .medium .bottom_right {
    background-position: -200px 0;
}

.ajax__balloon_popup .rect .medium .bottom_right .ajax__content {
    padding: 30px 25px 25px 15px;
}

*html .ajax__balloon_popup .rect .medium .bottom_right_shadow {
    background: none;
}

.ajax__balloon_popup .rect .medium .bottom_right_shadow {
    background-position: -1150px 0;
}

.ajax__balloon_popup .rect .medium .bottom_left {
    background-position: -200px -200px;
}

.ajax__balloon_popup .rect .medium .bottom_left .ajax__content {
    padding: 30px 15px 35px 35px;
}

*html .ajax__balloon_popup .rect .medium .bottom_left_shadow {
    background: none;
}

.ajax__balloon_popup .rect .medium .bottom_left_shadow {
    background-position: -1150px -200px;
}

.ajax__balloon_popup .rect .medium .top_right {
    background-position: -200px -400px;
}

.ajax__balloon_popup .rect .medium .top_right .ajax__content {
    padding: 30px 30px 35px 15px;
}

*html .ajax__balloon_popup .rect .medium .top_right_shadow {
    background: none;
}

.ajax__balloon_popup .rect .medium .top_right_shadow {
    background-position: -1150px -400px;
}

.ajax__balloon_popup .rect .medium .top_left {
    background-position: -200px -600px;
}

.ajax__balloon_popup .rect .medium .top_left .ajax__content {
    padding: 35px 15px 35px 35px;
}

*html .ajax__balloon_popup .rect .medium .top_left_shadow {
    background: none;
}

.ajax__balloon_popup .rect .medium .top_left_shadow {
    background-position: -1150px -600px;
}
/* END OF - MEDIUM SIZE */

/* LARGE SIZE */
.ajax__balloon_popup .rect .large {
    height: 300px;
    width: 500px;
}

.ajax__balloon_popup .rect .large .bottom_right {
    background-position: -450px 0;
}

.ajax__balloon_popup .rect .large .bottom_right .ajax__content {
    padding: 40px 30px 30px 15px;
}

*html .ajax__balloon_popup .rect .large .bottom_right_shadow {
    background: none;
}

.ajax__balloon_popup .rect .large .bottom_right_shadow {
    background-position: -1400px 0;
}

.ajax__balloon_popup .rect .large .bottom_left {
    background-position: -450px -300px;
}

.ajax__balloon_popup .rect .large .bottom_left .ajax__content {
    padding: 40px 15px 30px 30px;
}

*html .ajax__balloon_popup .rect .large .bottom_left_shadow {
    background: none;
}

.ajax__balloon_popup .rect .large .bottom_left_shadow {
    background-position: -1400px -300px;
}

.ajax__balloon_popup .rect .large .top_right {
    background-position: -450px -600px;
}

.ajax__balloon_popup .rect .large .top_right .ajax__content {
    padding: 30px 30px 45px 15px;
}

*html .ajax__balloon_popup .rect .large .top_right_shadow {
    background: none;
}

.ajax__balloon_popup .rect .large .top_right_shadow {
    background-position: -1400px -600px;
}

.ajax__balloon_popup .rect .large .top_left {
    background-position: -450px -900px;
}

.ajax__balloon_popup .rect .large .top_left .ajax__content {
    padding: 25px 15px 45px 30px;
}

*html .ajax__balloon_popup .rect .large .top_left_shadow {
    background: none;
}

.ajax__balloon_popup .rect .large .top_left_shadow {
    background-position: -1400px -900px;
}
/* END OF - LARGE SIZE */
