.ajax__colorPicker_container {
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    width: 201px;
}

.ajax__colorPicker_container table {
    border: 1px solid #646464;
    border-spacing: 1px;
}

.ajax__colorPicker_container table td {
	padding: 0;
}

.ajax__colorPicker_container table td div {
    cursor: crosshair;
    height: 11px;
    width: 10px;
}
