.ajax__colorPicker {
}

.ajax__colorPicker_container {
    background-color: #fff;
    position: absolute;
    width: 201px;
    overflow: hidden;
}

.ajax__colorPicker_container table {
    border: 1px solid #646464;
}

.ajax__colorPicker_container table td div {
    width: 10px;
    height: 11px;
    cursor: crosshair;
}
