table {
    border: #000 1px dashed;
}

td {
    border: #000 1px dashed;
}

div {
    border: #0000FF 1px dashed;
    padding: 0;
    margin: 0;
}

form {
    border: #FF0000 1px dashed;
}

.spell_highlighted {
    background-color: blue;
    color: yellow;
}