/* base layout */
.ajax__htmleditor_editor_base .ajax__htmleditor_editor_container {
    border-collapse: separate;
    empty-cells: show;
    height: 100%;
    width: 100%;
}

.ajax__htmleditor_editor_base .ajax__htmleditor_editor_toptoolbar {
    cursor: text;
}

.ajax__htmleditor_editor_base .ajax__htmleditor_toolbar_button {
    border-width: 0;
    cursor: pointer;
    float: left;
    height: 21px;
    padding: 0;
    white-space: nowrap;
}

.ajax__htmleditor_editor_base img.ajax__htmleditor_toolbar_button {
    width: 23px;
}

.ajax__htmleditor_editor_base div.ajax__htmleditor_toolbar_button span.ajax__htmleditor_toolbar_selectlable {
    cursor: text;
    padding: 0 2px;
    vertical-align: middle;
}

.ajax__htmleditor_editor_base div.ajax__htmleditor_toolbar_button select.ajax__htmleditor_toolbar_selectbutton {
    height: 20px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 120px;
}

.ajax__htmleditor_editor_base div.ajax__htmleditor_toolbar_button select.ajax__htmleditor_toolbar_selectbutton option {
    vertical-align: middle;
}

.ajax__htmleditor_editor_base .ajax__htmleditor_editor_editpanel {
    height: 100%;
}

.ajax__htmleditor_editor_base .ajax__htmleditor_editor_bottomtoolbar {
    cursor: text;
}

/* default theme */
.ajax__htmleditor_editor_default .ajax__htmleditor_editor_container {
    border: 1px solid #C2C2C2;
}

.ajax__htmleditor_editor_default .ajax__htmleditor_editor_toptoolbar {
    background-color: #F0F0F0;
    padding: 0 2px 2px 2px;
}

.ajax__htmleditor_editor_default .ajax__htmleditor_editor_toptoolbar .ajax__htmleditor_toolbar_button {
    background-color: #C2C2C2;
    margin: 2px 0 0 0;
}

.ajax__htmleditor_editor_default .ajax__htmleditor_editor_toptoolbar .ajax__htmleditor_toolbar_button_hover {
    background-color: #3C8AFF;
}

.ajax__htmleditor_editor_default .ajax__htmleditor_editor_toptoolbar div.ajax__htmleditor_toolbar_button span.ajax__htmleditor_toolbar_selectlable {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

.ajax__htmleditor_editor_default .ajax__htmleditor_editor_toptoolbar div.ajax__htmleditor_toolbar_button select.ajax__htmleditor_toolbar_selectbutton {
    cursor: pointer;
    font-family: arial;
    font-size: 12px;
}

.ajax__htmleditor_editor_default .ajax__htmleditor_editor_toptoolbar div.ajax__htmleditor_toolbar_button select.ajax__htmleditor_toolbar_selectbutton option {
    font-size: 12px;
}

.ajax__htmleditor_editor_default .ajax__htmleditor_editor_editpanel {
    border-bottom: 1px solid #C2C2C2;
    border-top: 1px solid #C2C2C2;
    border-width: 0;
}

.ajax__htmleditor_editor_default .ajax__htmleditor_editor_bottomtoolbar {
    background-color: #F0F0F0;
    padding: 0 0 2px 2px;
}

.ajax__htmleditor_editor_default .ajax__htmleditor_editor_bottomtoolbar .ajax__htmleditor_toolbar_button {
    background-color: #C2C2C2;
    margin: 0 4px 0 0;
}

.ajax__htmleditor_editor_default .ajax__htmleditor_editor_bottomtoolbar .ajax__htmleditor_toolbar_button_hover {
    background-color: #3C8AFF;
}
