.ajax__slide_show_fadeIn {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -transition: all 1s ease-in-out;
    opacity: 0;
}

.ajax__slide_show_fadeOut {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -transition: all 1s ease-in-out;
    opacity: 1;
}

.ajax__slide_show_Animation {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.ajax__slide_show_scaleX {
    -webkit-transform: scale(0,1);
    -moz-transform: scale(0,1);
    -o-transform: scale(0,1);
    transform: scale(0,1);
}

.ajax__slide_show_scaleY {
    -webkit-transform: scale(1,0);
    -moz-transform: scale(1,0);
    -o-transform: scale(1,0);
    transform: scale(1,0);
}

.ajax__slide_show_zoomIn {
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transform-origin: middle right;
    -moz-transform: scale(1,1);
    -moz-transform-origin: middle right;
    -o-transform: scale(1,1);
    -o-transform-origin: middle right;
    transform: scale(1,1);
    transform-origin: middle right;
}

.ajax__slide_show_zoomOut {
    -webkit-transform: scale(0,0);
    -webkit-transform-origin: middle left;
    -moz-transform: scale(0,0);
    -moz-transform-origin: middle left;
    -o-transform: scale(0,0);
    -o-transform-origin: middle left;
    transform: scale(0,0);
    transform-origin: middle left;
}

.ajax__slide_show_rotate {
    filter: alpha(opacity=0);
    -webkit-transform: rotate(360deg) scale(0,0);
    -moz-transform: rotate(360deg) scale(0,0);
    -o-transform: rotate(360deg) scale(0,0);
    transform: rotate(360deg) scale(0,0);
}

.ajax__slide_show_container {
    overflow: hidden;
    position: relative;
}

.ajax__slide_show_slideAnimation {
    -webkit-transition: all 1.0s ease-in-out;
    -moz-transition: all 1.0s ease-in-out;
    -o-transition: all 1.0s ease-in-out;
    transition: all 1.0s ease-in-out;
}

.ajax__slide_show_sliderUL {
    margin: 0;
    padding: 0;
    position: relative;
}
