.ajax__validatorcallout div, .ajax__validatorcallout td {
    border: solid 1px Black;
    background-color: LemonChiffon;
}

.ajax__validatorcallout_popup_table {
    border: none 0px;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

.ajax__validatorcallout_popup_table_row {
    vertical-align: top;
    height: 100%;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

.ajax__validatorcallout_callout_cell {
    width: 20px;
    height: 100%;
    text-align: right;
    vertical-align: top;
    border: none !important;
    background-color: transparent !important;
    padding: 0px;
    margin: 0px;
}

.ajax__validatorcallout_callout_table {
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

.ajax__validatorcallout_callout_table_row {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

.ajax__validatorcallout_callout_arrow_cell {
    padding: 8px 0px 0px 0px;
    margin: 0px;
    text-align: right;
    vertical-align: top;
    font-size: 1px;
    border: none !important;
    background-color: transparent !important;
}

.ajax__validatorcallout_callout_arrow_cell .ajax__validatorcallout_innerdiv {
    font-size: 1px;
    position: relative;
    left: 1px;
    border-bottom: none !important;
    border-right: none !important;
    border-left: none !important;
    width: 15px;
    background-color: transparent !important;
    padding: 0px;
    margin: 0px;
}

.ajax__validatorcallout_callout_arrow_cell .ajax__validatorcallout_innerdiv div {
    height: 1px;
    overflow: hidden;
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
    padding: 0px;
    margin: 0px 0px 0px auto;
}

.ajax__validatorcallout_callout_arrow_cell_leftpos {
    padding: 8px 0px 0px 0px;
    margin: 0px;
    text-align: left;
    vertical-align: top;
    font-size: 1px;
    border: none !important;
    background-color: transparent !important;
}

.ajax__validatorcallout_callout_arrow_cell_leftpos .ajax__validatorcallout_innerdiv {
    font-size: 1px;
    position: relative;
    left: -1px;
    border-bottom: none !important;
    border-right: none !important;
    border-left: none !important;
    width: 15px;
    background-color: transparent !important;
    padding: 0px;
    margin: 0px;
}

.ajax__validatorcallout_callout_arrow_cell_leftpos .ajax__validatorcallout_innerdiv div {
    height: 1px;
    overflow: hidden;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
    padding: 0px;
    margin: 0px auto 0px 0px;
}

.ajax__validatorcallout_callout_arrow_cell_bottomleftpos, .ajax__validatorcallout_callout_arrow_cell_topleftpos {
    padding: 0px 0px 0px 8px;
    margin: 0px;
    text-align: left;
    vertical-align: top;
    font-size: 1px;
    border: none !important;
    background-color: transparent !important;
}

.ajax__validatorcallout_callout_arrow_cell_bottomrightpos, .ajax__validatorcallout_callout_arrow_cell_toprightpos {
    padding: 0px 8px 0px 0px;
    margin: 0px;
    text-align: right;
    vertical-align: top;
    font-size: 1px;
    border: none !important;
    background-color: transparent !important;
}

.ajax__validatorcallout_callout_arrow_cell_bottomleftpos .ajax__validatorcallout_innerdiv {
    font-size: 1px;
    position: relative;
    bottom: -1px;
    border: none !important;
    width: 30px;
    background-color: transparent !important;
    padding: 0px;
    margin: 0px;
}

.ajax__validatorcallout_callout_arrow_cell_bottomrightpos .ajax__validatorcallout_innerdiv {
    font-size: 1px;
    position: relative;
    bottom: -1px;
    border: none !important;
    width: 30px;
    background-color: transparent !important;
    padding: 0px;
    margin: 0px 0px 0px auto;
}

.ajax__validatorcallout_callout_arrow_cell_topleftpos .ajax__validatorcallout_innerdiv {
    font-size: 1px;
    position: relative;
    top: -1px;
    border: none !important;
    width: 30px;
    background-color: transparent !important;
    padding: 0px;
    margin: 0px;
}

.ajax__validatorcallout_callout_arrow_cell_toprightpos .ajax__validatorcallout_innerdiv {
    font-size: 1px;
    position: relative;
    top: -1px;
    border: none !important;
    width: 30px;
    background-color: transparent !important;
    padding: 0px;
    margin: 0px 0px 0px auto;
}

.ajax__validatorcallout_callout_arrow_cell_bottomleftpos .ajax__validatorcallout_innerdiv div, .ajax__validatorcallout_callout_arrow_cell_bottomrightpos .ajax__validatorcallout_innerdiv div, .ajax__validatorcallout_callout_arrow_cell_topleftpos .ajax__validatorcallout_innerdiv div, .ajax__validatorcallout_callout_arrow_cell_toprightpos .ajax__validatorcallout_innerdiv div {
    height: 1px;
    overflow: hidden;
    border-top: none !important;
    border-bottom: none !important;
    padding: 0px;
    margin: 0px auto 0px auto;
}

.ajax__validatorcallout_callout_arrow_cell_bottomleftpos .ajax__validatorcallout_innerdiv .arrowpixel, .ajax__validatorcallout_callout_arrow_cell_bottomrightpos .ajax__validatorcallout_innerdiv .arrowpixel, .ajax__validatorcallout_callout_arrow_cell_topleftpos .ajax__validatorcallout_innerdiv .arrowpixel, .ajax__validatorcallout_callout_arrow_cell_toprightpos .ajax__validatorcallout_innerdiv .arrowpixel {
    height: 0px;
    overflow: hidden;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    background-color: transparent !important;
    padding: 0px;
    margin: 0px auto 0px auto;
}

.ajax__validatorcallout_error_message_cell {
    font-family: Verdana;
    font-size: 10px;
    padding: 5px;
    border-right: none !important;
    border-left: none !important;
    width: 100%;
}

.ajax__validatorcallout_icon_cell {
    width: 20px;
    padding: 5px;
    margin: 0px;
    border-right: none !important;
}

.ajax__validatorcallout_close_button_cell {
    vertical-align: top;
    padding: 0px;
    margin: 0px;
    text-align: right;
    border-left: none !important;
}

.ajax__validatorcallout_close_button_cell .ajax__validatorcallout_innerdiv {
    border: none !important;
    text-align: center;
    width: 10px;
    padding: 2px;
    cursor: pointer;
}
